body {
    background: #d8d6d0;
}

.mission {
    font-style: italic;
}

.contact-links a:hover {
    color: whitesmoke;
}

.activ-link {
    color: whitesmoke;
}

.teamcards {
    padding-top: .5em;
}

.abt-head {
    background-image: url(assets/joey-kyber-Pihl8kTtX-s-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: whitesmoke;
}

.about-col {
    width: 100%;
    padding: 0;
}

.whatrow {
    height: 100%;
}

.grey {
    background: #343a40;
}

.foot {
    height: 50%;
}

.hrline {
    background: whitesmoke;
}

.whitecolor {
    color: whitesmoke;
}