body {
    background: #e6e4df;
}

teamcards {
}

.abt-head {
    background-image: url(assets/joey-kyber-Pihl8kTtX-s-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

.about-col {
    width: 100%;
    padding: 0;
}

.whatrow {
    height: 100%;
}

.blue {
    background: grey;
}

.foot {
    height: 50%;
}