body {
    background:  #d8d6d0;
}

.banner {
    background-image: url(assets/tech-background.jpg);
    background-position: center;
    background-size: cover;
}

.grey {
    background: #343a40;
}

.hrline {
    background: whitesmoke;
}

.whitecolor {
    color: whitesmoke;
}

.card:hover {
    transform: scale(1.1);
}